<div style="margin-top: 100px; text-align: center;">
  <input type="text" placeholder="Search" style="background-color: transparent; border:black; color: black; font-size: 16px; padding: 10px; transition: all 0.3s ease; width: 300px;" onfocus="this.style.backgroundColor='white'; this.style.color='black';" onblur="this.style.backgroundColor='transparent';this.style.border='black'; this.style.color='white';">
  <button style="background-color: transparent; border: none; color: white; font-size: 16px; padding: 10px 20px; transition: all 0.3s ease;">Search</button>
</div>
